

@import url('http://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  background-color: #dedede;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.prt-7 {
  padding-right: 7.5px !important;
}
.plt-7 {
  padding-left: 7.5px !important;
}