.banner-container{
    min-height:100px;
    background: linear-gradient(60deg,#424961,#3e3e84);
    padding:15px 10px;
    overflow-x: hidden;
    margin-top: 60px;
}
.banner-container-table{
   height: 380px;
    background: #FFF;
    padding:0px 10px;
    overflow-x: hidden;
    margin-top:10px;
}

.lbl-heading{
    font-size: 16px;
    font-weight: 400;
    color:#fff;
}
.lbl-text{
    font-size: 18px;
    font-weight: 500;
    color:#fff;
    padding-left: 5px;
}
.row-padding{
    padding: 10px 10px 5px 30px;
}
.lbl-text a {
    text-decoration: underline;
}
