.tac-card{
   
}
.log-table {
    height: 100%;
}
.log-table td{
    width: 20%;
}
.log-table td div{
    height: 80px;
    overflow: scroll;
} 
.log-table td:nth-child(2){
    width: 60%;
}
.log-table td:nth-child(2) div{
    height: 80px;
    overflow: scroll;
}
.log-table tr{
border-top: 1px solid #ddd !important;
}
.no-data-found {
    padding: 15px 10px;
    text-align: center;
}
.card .no-data-found{
    border-top: 1px solid #d1d2d3;
}
.table thead th {
    border-width: 1px;
}

.banner-container-bottom {
    background: #33346d;
    margin-bottom: 48px;
    margin-top: 15px;
    padding: 10px;
    min-height: 320px;
    border-radius: 4px;
}