.navbar-style{
    height: 55px;
    background:#143761;
    padding:0px 10px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 222;
    display: none;
  }

.symbol-div-style{
    position: absolute;
    right: 35px;
    top: 14px;
    border-radius: 19px;
}
.symbol-span-style{
    border-radius: 25px;
    background-color: transparent;
    border: none;
    z-index: 10;
}
.input-box-position{
    position: relative;
    margin-top: 10px;
    border-radius: 21px;
    border-bottom-right-radius: 21px !important;
    border-top-right-radius: 21px !important;
    background: #FFF;
}

.name-row-style{
    color: white;
    margin-top: 10px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.namespace{
    margin-left: 10px;
    font-size: 18px;
    font-family: roboto,halvatica,arial,sans-serif;
    font-weight: lighter;
}
.image-style{
    height: 33px;
    width: 33px;
    border-radius: 50%;
}
.fa-info-circle {
    margin-right: 10px;
}

.top-navabar {
    background: #072446;
    color: #FFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.top-navabar .left-section {
    display: flex;
}
.top-navabar .input-group {
    width: 400px;
    align-items: baseline;
}
.top-navabar .input-group .fa-info-circle {
    margin-left: 10px;
}
.top-navabar .logo-area {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}
.profile-section {
    display: flex;
    align-items: center;
}
.top-navabar .btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 20px;
}
.top-navabar .profile-section .btn-toolbar::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #e6e6e6;
    margin-right: 10px;

}
.input-group .fa-times {
    right: 46px;
    top: 19px;
}
.fa-times {
    position: absolute;
    color: #656565;
    font-weight: 300;
    cursor: pointer;
    z-index: 10;
}

