.table-header{
    cursor: pointer;
}
.current-page {
    font-size: 1.5rem;
    vertical-align: middle;
  }
  
  .country-card-container {
    height: 60px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .country-name {
    font-size: 0.9rem;
  }
  
  .country-region {
    font-size: 0.7rem;
  }
  
  .country-page,
  .country-name,
  .country-region {
    line-height: 1;
  }
  
  ul.pagination {
    margin-top: -16px;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-top: 1px solid #ddd;
  }
  ul.pagination li.page-item.active a.page-link {
    color: #FFF !important;
    background-color: #5d72e4 !important;
    border-color: #5d72e4 !important;
  }
  ul.pagination a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none !important;
    border-color: #ced4da !important;
    color: #6b88a4;
    font-weight: 900;
    font-size: 13px;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 30px;
    border-radius: 35px;
    min-width: 30px;
    padding-top: 6px;
    margin-right: 10px;
    text-decoration: none;
  }
  .page-item:last-child .page-link{
    border-top-right-radius: 35px !important;
    border-bottom-right-radius:35px !important;
  }
  .page-item:first-child .page-link{
    border-top-left-radius: 35px !important;
    border-bottom-left-radius: 35px !important;
  }
  ul.pagination a.page-link:hover {
    background-color: #f4f4f4;
  }
  
  .table-bg-color table thead tr{
    background: #FFF;
  }
  .table-bg-color table thead tr th {
    color:#4e7ac9;
    font-size: 12px;
    font-weight: 500; 
    text-align: left;
  }
  .table-bg-color table tbody tr td {
    font-size: 13px;
    font-weight: 400; 
    text-align: left;
    padding: 16px;
  }
  .card-table{
    border:1px solid #ddd;
  }
  .table-heading{
    color: #FFF;
    font-size: 16px;
    font-weight: 500; 
    padding: 3px 10px;
  }
  .interaction_score{
    display: inline-block;
    background: #39af85;
    padding: 6px 12px;
    border-radius: 11px;
  }
  .desc{
    display: inline-block;
    background: #14ccef;
    padding: 6px 12px;
    border-radius: 11px;
  }
  .bug_distance{
    display: inline-block;
    background: #FFF;
    width: 80px;
    height: 2px;
    margin-left: 10px;
  }
 
  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    overflow: hidden;
  }
  .green-progress{
    background-color: rgb(43,194,83);
  }
  .red-progress{
    background-color:red;
  }
  .view-progress{
    background-color:#14ccef;
  }
  